 .u-section-1 {
  background-image: linear-gradient(#44c5ee, #e9f2fa);
}

.u-section-1 .u-sheet-1 {
  min-height: 614px;
}

.u-section-1 .u-tabs-1 {
  min-height: 639px;
  width: 871px;
  height: auto;
  margin: -24px auto 0;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 21px;
}

.u-section-1 .u-form-1 {
  height: 565px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 124px 0 146px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 10px;
}

.u-section-1 .u-form-2 {
  height: 288px;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  margin: 1px 138px 0 163px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-2 {
    width: 485px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-tabs-1 {
    width: 720px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 49px;
    margin-left: 71px;
  }

  .u-section-1 .u-form-2 {
    margin-left: 88px;
    margin-right: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-tabs-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-2 {
    margin-left: 11px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-tabs-1 {
    width: 340px;
  }

  .u-section-1 .u-form-2 {
    width: 320px;
    margin-left: 0;
  }
}